<header class="avenir">
            <nav class="pv4 dt w-100">
                <a class="dtc v-mid no-underline w-25 w-25-ns logoLink" rel="" href="{{ "/" | url }}"><img class="w-100 v-mid" src="{{ "/images/brownLogo2.png" | url }}"></a>
                <div class="dtc tr w-60 v-mid f7 f6-m f5-ns">
                    <a class="dib ba no-underline br4 pa2-ns pa1 tr" href="{{ "/" | url }}">Home</a>
                    {% assign navPages = collections.all | eleventyNavigation %}
                    {% for entry in navPages %}
                        {% if entry.url == page.url %}
                            <a class="dib ba no-underline br4 pa2-ns pa1 bg-moon-gray tr" href="{{ entry.url | url }}">{{ entry.title }}</a>
                        {% else %}
                            <a class="dib ba no-underline br4 pa2-ns pa1 tr" href="{{ entry.url | url }}">{{ entry.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>
        </header>